


<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>demo</title>
    <style>
        .demo {
            width: 80%;
            height: 80%;
        }
    </style>

</head>
<body>
<p class="demo" style="width:1000px;height:600px; border: 1px solid #ccc">
    <iframe src="//view-api.box.com/1/sessions/9a71d7b8f4904a78aa9f5be0db9ea6c1/view?theme=light" seamless fullscreen></iframe>
</p>
</body>
</html>