<br>
<div class="row">
    <div class="small-12 columns">
        <div class="msg">
            <span>检测权限中</span>
        </div>
    </div>
</div>

<div class="row">
    <!-- why -->
    <div class="small-12 columns small-centered box-view-container" style="height: 90%;">
        <iframe id="box-view-session-url" src="" seamless fullscreen></iframe>
    </div>
</div>
