<script type="text/javascript" src="../../static/js/ZeroClipboard.min.js"></script>
<script>

    $(function () {

//        $("table").on("mouseenter", ".detail-table-row", function () {
//            // not children
//            var copyButton = $(this).find(".copy-button");
//            copyButton.show();
//        });
//        $("table").on("mouseleave", ".detail-table-row", function () {
//            var copyButton = $(this).find(".copy-button");
//            copyButton.hide();
//        });

        var client = new ZeroClipboard($(".copy-button"));

        client.on("ready", function (readyEvent) {
            // alert( "ZeroClipboard SWF is ready!" );

            client.on("aftercopy", function (event) {
                // `this` === `client`
                // `event.target` === the element that was clicked
//                event.target.style.display = "none";

//            alert("Copied text to clipboard: " + event.data["text/plain"] );
            });
        });
    });
</script>