<div class="sign-panel">
    <div class="row">
        <div class="small-8 columns small-centered">
            <div class="panel">
                <div class="row">
                    <div class="small-2 columns small-centered">
                        <h3><a href="/">firefly</a></h3>
                    </div>
                </div>
                <div class="small-10 columns small-centered">
                    <p>404</p>
                </div>
            </div>
        </div>
    </div>
</div>