#envelop-background {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /*overflow: hidden;*/
}

.text-center {
    text-align: center;
}

#features {
    /*background: #75CBDA;*/
    /*padding: 5rem;*/
}
#pricing {
    background: #75CBDA;
}

.desc {
    display: block;
    margin: 0 auto;
}
.icon {
    margin: 0 auto;
}

.footer-wrapper {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    /*background: #EDEDED;*/
    /*border-top: 1px solid #C5C5C5;*/
    border-top: 1px;
    border-bottom: 1px;
    zoom: 1;
    clear: both;
}

/*sign*/
.sign-panel {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

/*login/signup tab*/
/*.center.row {*/
    /*height: 300px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: 5%;*/
    /*max-width: 500px;*/
/*}*/

/*.signup-panel {*/
    /*padding: 15px;*/
/*}*/

.signup-panel i {
    font-size: 30px;
    line-height: 50px;
    color: #999;
}

.signup-panel form input, .signup-panel form span {
    height: 50px;
}

.signup-panel .welcome {
    font-size: 26px;
    text-align: center;
    margin-left: 0;
}

.signup-panel .button {
    margin-left: 35%;
}

section.active {
    padding-top: 75px !important;
}

p.title {
    border-bottom: 1px solid #cccccc !important;
}

.content {
    height: 450px;
}

/*map*/
#map {
    min-height: 400px;
    margin: 0 auto;
}

/*dropzone*/
.dropzone {
    min-height: 200px;
}

/*table*/
table {
    text-align: center;
}
th {
    text-align: center;
}
.copy-button {
    /*position: absolute;*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    margin: 0 auto;
}

/*box view*/
.box-view-container {
    position: relative;
    padding-bottom: 90%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.box-view-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}